body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #002233, #00ddff2c, black, #5E48C8);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #002233;
    padding: 25px;
    border-radius: 8px;
    color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 1dvb 2px #00ddff2c;
}

.perguntas {
    background-color: #A44DFF;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    padding: 3px;
    margin: auto;
    margin-top: 5px;
}

h1 {
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    color: #004459;
    font-size: 30px;
    background-color: #D9FF65;
    border-radius: 8px;
}

.central-nome {
    color: #a34dff;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.botao {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #D9FF65;
    color: #04425A;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.botao:hover {
    background-color: #04425A;
    font-weight: bold;
    color: white;
}

.botao:active {
    background-color: #a34dff;
}

.resumo {
    margin-top: 30px;
    padding: 15px;
    background-color: #eef2f7;
    border-radius: 6px;
    white-space: pre-line;
    color: black;
    text-transform: uppercase;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
    font-weight: bold;

}
